<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>	
	<!-- db conn properties -->
	<properties resource="oracle.properties" />
	
	<!--  oracle null 처리  -->
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>


	<!-- TypeAliases  
	<typeAliases>
		<typeAlias alias="userVO" type="com.test.orm.UserVO"  />
	</typeAliases>
	 -->
	 
	<!-- DBCP 
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />   MANAGED 
			<dataSource type="POOLED">
				<property name="driver" value="${driverClassName}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	-->
	<!-- mapper --> 
	
	<mappers>
		<mapper resource="user-map.xml" />		
	</mappers>
	
</configuration>
